sudo: requried

language: generic

servies:
    - docker

before_install:
    - echo "start creating an image with dockerfile"
    - docker build -t dnstlr2933/docker-react-app -f dockerfile.dev .

script:
    - docker run -e CI=true dnstlr2933/docker-react-app npm run test -- --coverage

deploy:
    provider: elasticbeanstalk
    region: "us-east-2"
    app: "docker-react-app"
    env: "DockerReactApp-env"
    bucket_name: "elasticbeanstalk-us-east-2-700703176390"
    bucket_path: "docker-react-app"
    on:
        branch: master
    access_key_id : $AWS_ACCESS_KEY
    secret_access_key : $AWS_SECRET_ACCESS_KEY